@import url('https://fonts.googleapis.com/css2?family=Finlandica:wght@500&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root{
    --bg-color: #ddd0c8;
    --text-color: #323232;
    --main-color: #1b5eaf;
}

body {
    min-height: 100vh;
    color: var(--text-color);
    font-family: 'Mooli', sans-serif;
}

header {
    width: 100%;
    height: 146px;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 60px 12%;
    transition: all .50s ease;
    font-family: 'Finlandica', sans-serif;
    background: var(--bg-color);
}

.logo {
    max-width: 450px;
    max-height: 450px;
}

.navbar {
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.navbar a {
    color: var(--text-color);
    font-size: 1.1rem;
    font-weight: 500;
    padding: 5px 25px;
    margin: 5px 0;
    transition: all .50s ease;
}   

.navbar a:hover {
    color: var(--main-color);
}

.navbar a.active {
    color: var(--main-color);
}

.main {
    display: flex;
    align-items: center;
}

.main a {
    margin-right: 25px;
    margin-left: 10px;
    color: var(--text-color);
    font-size: 1.1rem;
    font-weight: 500;
    transition: all .50s ease;
}

.main a:hover{
    color: var(--main-color);
}

#menu-icon{
    font-size: 35px;
    color: var(--text-color);
    cursor: pointer;
    z-index: 10001;
    display: none;
}

@media (max-width: 1280px) {
    header{
        padding: 14px 2%;
        transition: .2s;
    }
    .navbar a{
        padding: 5px 0;
        margin: 0px 20px;
    }
}

@media (max-width: 1090px) {
    #menu-icon{
        display: block;
    }
    .navbar{
        position: absolute;
        top: 100%;
        right: -100%;
        width: 270px;
        height: 29vh;
        background: var(--main-color);
        display: flex;
        flex-direction: column;
        justify-content:flex-start;
        border-radius: 10px;
        transition: all .50s ease;
    }
    .navbar a {
        display: block;
        margin: 12px 0;
        padding: 0px 25px;
        transition: all .50s ease;
    }
    .navbar a:hover {
        color: var(--text-color);
        transform: translateY(5px);
    }
    .navbar a.active{
        color: var(--text-color);
    }
    .navbar.open{
        right: 2%;
    }
}

.navbar .search-bar {
    display: flex;
    align-items: center;
    margin: 0px 30px;
}

.navbar .search-bar input {
    padding: 5px;
    border: none;
    border-radius: 9px;
    margin-right: 6px;
    font-family: 'Finlandica', sans-serif;
}

.navbar .search-bar i {
    color: var(--main-color);
    font-size: 20px;
    cursor: pointer;
}

.card {
    width: fit-content;
    height: fit-content;
    background-color: #ddd0c8;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    gap: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055);
}
  
  .socialContainer {
    width: 32px;
    height: 32px;
    background-color: rgb(44, 44, 44);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition-duration: .3s;
  }
  /* instagram*/
  .containerOne:hover {
    background-color: #d62976;
    transition-duration: .3s;
  }
  /* twitter*/
  .containerTwo:hover {
    background-color: #00acee;
    transition-duration: .3s;
  }
  /* linkdin*/
  .containerThree:hover {
    background-color: #0072b1;
    transition-duration: .3s;
  }
  /* Whatsapp*/
  .containerFour:hover {
    background-color: #128C7E;
    transition-duration: .3s;
  }
  
  .socialContainer:active {
    transform: scale(0.9);
    transition-duration: .3s;
  }
  
  .socialSvg {
    width: 17px;
  }
  
  .socialSvg path {
    fill: #ddd0c8;
  }
  
  .socialContainer:hover .socialSvg {
    animation: slide-in-top 0.3s both;
  }
  
  @keyframes slide-in-top {
    0% {
      transform: translateY(-50px);
      opacity: 0;
    }
  
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

.Copyright {
    text-align: center;
    bottom: 0; 
    width: 100%; 
    background-color: rgba(0, 0, 0, 0.025);
    padding: 10px; 
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.form_area {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #EDDCD9;
  height: auto;
  width: auto;
  border: 2px solid #264143;
  border-radius: 20px;
  box-shadow: 3px 4px 0px 1px #1b5eaf;
}

.title {
  color: #264143;
  font-weight: 900;
  font-size: 1.5em;
  margin-top: 20px;
}

.sub_title {
  font-weight: 600;
  margin: 5px 0;
}

.form_group {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin: 10px;
}

.form_style {
  outline: none;
  border: 2px solid #264143;
  box-shadow: 3px 4px 0px 1px #1b5eaf;
  width: 290px;
  padding: 12px 10px;
  border-radius: 4px;
  font-size: 15px;
}

.form_style:focus, .btn:focus {
  transform: translateY(4px);
  box-shadow: 1px 2px 0px 0px #1b5eaf;
}

.btn {
  padding: 15px;
  margin: 25px 0px;
  width: 290px;
  font-size: 15px;
  background: #eddcd9;
  border-radius: 10px;
  font-weight: 800;
  box-shadow: 3px 3px 0px 0px #264143;
}

.btn:hover {
    transition: 0.5s;
    background-color: #1b5eaf;
    color: #fff;
    opacity: .9;
}

.link {
  font-weight: 800;
  color: #264143;
  padding: 5px;
}

footer {
    bottom: 0;
    width: 100%;
    background-color: #ddd0c8;
    padding-top: 40px;
    box-sizing: border-box;
}
